@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0 15px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
    }
}


/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
